/* css Reset */ 
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
}
/* navbar */
#navbar{
    display: flex;
    position: relative;
}

#social {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 100px;
}

#social img {
    width: 45px;
    margin-top: 5px;
    height: 35px;
    cursor: pointer;
}
#logo 
{
    margin: 0px 4px;
 }
#logo img{
    height: 50px;
    margin: 2px 2px;
    width: 100px;
}
#navbar ul{
    display: flex;
    margin-left: 300px;
    margin-top: 10px;
    justify-content: center;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 5px 26px;
    border-radius: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    opacity: 40%;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 300px;
    height: 606px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../bg.jpg') no-repeat, center, center/cover;
    height: 153%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
 
#home h1,h2{
    color: rgb(213, 236, 255);
    text-align: center;
    
}

#home p{
    color: rgb(196, 212, 255);
    text-align: center;
    font-size: 1.2rem;
}

/* Services section */
#services-container{
    background-color: rgba(152, 188, 255, 0.932);
}

#services{
    display: flex;
   
}

#services .box{
    background-color: rgba(184, 209, 255, 0.979);
    border: 2px solid rgba(5, 77, 211, 0.979);
    margin: 4px 3px;
    border-radius: 10px;
}

#services .box:hover{
    background-color: rgba(87, 146, 255, 0.979);
    cursor: pointer;
}

#services .box video{
    display: block;
    height: 200px;
    margin: auto;
    padding: 5px;
}


/* Client section */
#client-section{
    height: 309px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat, center, center/cover;
    height: 160%;
    width: 100%;
    z-index: -3;
    opacity: 0.90;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 85px;
    padding: 5px 12px;
    margin: 5px 14px;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact img{
    height: 85px;
    padding: 5px 12px;
    margin: 5px 14px;
}

/* utility classes */
.h-primary{
    font-size: 2.9rem;
    padding: 13px;
    
}

.h-primary1{
    margin-top: 80px;
    background-color: rgba(67, 133, 255, 0.932);
    font-size: 1.9rem;
    padding: 10px;
}

.h-secondary{
    font-size: 1.4rem;
    padding: 12px;
}

.btn
{
    margin: 25px 12px;
    font-size: 1.2rem;
    padding: 7px 22px;

}
.center{
    text-align: center;
}


/* About Us */
  
  #column {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  #card {
    box-shadow: 0 60px 20px 0 rgba(29, 28, 28, 0.5);
    margin: 8px;
    padding: 25px;
    border-radius: 25px;
  }
  
  #card img{
      height: 200px;
      border-radius: 15px;
  }

  .h-primary2{
    font-size: 2.9rem;
    padding: 13px;
    margin-top: 100px;
}

  .container {
    padding: 21px 32px;
  }
  

  #social1 img{
    filter: invert(100%);
    height: 35px;
    }
